.bicicletas-bg {
  background-color: var(--cor-11);
  padding: 60px 0;
}
.bicicletas-container {
  background-color: var(--cor-0);
}
.header-container {
  background: url(/img/dec/top-right.svg) no-repeat top right 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}
.header-container h2,
.header-container h1 {
  margin-bottom: 0px;
}

/* NIMBUS */

#bicicletas .nimbus {
  background: url(/img/dec/top-right.svg) no-repeat top 40px right 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}
#bicicletas .nimbus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 40px;
  margin: 0 auto;
  padding: 60px 20px;
  align-items: flex-start;
}
.nimbus-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
}
.nimbus-conteudo > p,
.nimbus-conteudo h3 {
  grid-column: 1 /-1;
  margin-bottom: 20px;
}
#bicicletas .nimbus a {
  grid-column: 2;
  align-self: flex-end;
  display: flex;
  gap: 10px;
  align-items: center;
}
#bicicletas .nimbus a::after {
  content: "";
  width: 18px;
  height: 10px;
  display: inline-block;
  background-image: url(/img/icones/seta.svg);
  grid-area: 1/1;
}
#bicicletas .nimbus a:hover:after {
  transform: translateX(4px);
  transition: 0.3s;
}
#bicicletas .nimbus h3:before {
  margin-bottom: 8px;
  content: "";
  width: 12px;
  height: 8px;
  display: block;
  background-color: var(--cor-p1);
}
#bicicletas .nimbus ul {
  display: grid;
  gap: 16px;
}
#bicicletas .nimbus li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bike-nimbus {
  display: grid;
}
.bike-nimbus span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
  position: absolute;
}

/* MAGIC */
.magic-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}
.bike-magic {
  display: grid;
}
.bike-magic span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
  position: absolute;
}
#bicicletas .magic {
  background: url(/img/dec/top-right.svg) no-repeat top 40px right 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 40px;
  margin: 0 auto;
  padding: 60px 20px;
  align-items: flex-start;
}
.magic-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
}
.magic-conteudo > p,
.magic-conteudo h3 {
  grid-column: 1 /-1;
  margin-bottom: 20px;
}
#bicicletas .magic a {
  grid-column: 2;
  align-self: flex-end;
  display: flex;
  gap: 10px;
  align-items: center;
}
#bicicletas .magic a::after {
  content: "";
  width: 18px;
  height: 10px;
  display: inline-block;
  background-image: url(/img/icones/seta.svg);
  grid-area: 1/1;
}
#bicicletas .magic a:hover:after {
  transform: translateX(4px);
  transition: 0.3s;
}
#bicicletas .magic h3:before {
  margin-bottom: 8px;
  content: "";
  width: 12px;
  height: 8px;
  display: block;
  background-color: var(--cor-p1);
}
#bicicletas .magic ul {
  display: grid;
  gap: 16px;
}
#bicicletas .magic li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bike-magic {
  display: grid;
}

/* NEBULA */
.nebula-bg {
  background: linear-gradient(to right, var(--cor-0) 30%, var(--cor-11) 0%);
}
.bike-nebula {
  display: grid;
}
.bike-nebula span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background: var(--cor-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
  position: absolute;
}
#bicicletas .nebula {
  background: url(/img/dec/top-right.svg) no-repeat top 40px right 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}
#bicicletas .nebula {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  gap: 40px;
  margin: 0 auto;
  padding: 60px 20px;
  align-items: flex-start;
}
.nebula-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
}
.nebula-conteudo > p,
.nebula-conteudo h3 {
  grid-column: 1 /-1;
  margin-bottom: 20px;
}
#bicicletas .nebula a {
  grid-column: 2;
  align-self: flex-end;
  display: flex;
  gap: 10px;
  align-items: center;
}
#bicicletas .nebula a::after {
  content: "";
  width: 18px;
  height: 10px;
  display: inline-block;
  background-image: url(/img/icones/seta.svg);
  grid-area: 1/1;
}
#bicicletas .nebula a:hover:after {
  transform: translateX(4px);
  transition: 0.3s;
}
#bicicletas .nebula h3:before {
  margin-bottom: 8px;
  content: "";
  width: 12px;
  height: 8px;
  display: block;
  background-color: var(--cor-p1);
}
#bicicletas .nebula ul {
  display: grid;
  gap: 16px;
}
#bicicletas .nebula li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bike-nebula {
  display: grid;
}

@media (max-width: 800px) {
  .magic-bg {
    background: var(--cor-11);
  }
  #bicicletas .nebula,
  #bicicletas .magic,
  #bicicletas .nimbus {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 20px;
  }
  #bicicletas .nebula ul,
  #bicicletas .magic ul,
  #bicicletas .nimbus ul {
    gap: 8px;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .nebula-conteudo,
  .magic-conteudo,
  .nimbus-conteudo {
    gap: 0px;
  }
  .bicicletas-container ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
  }
  .bicicletas-container a {
    grid-column: 1/-1;
  }
  .bicicletas-container h3,
  .bicicletas-container li {
    margin-bottom: 10px;
  }
  .bicicletas-container p {
    font-size: 1rem;
  }
}
@media (max-width: 480px) {
  .nebula-conteudo,
  .magic-conteudo,
  .nimbus-conteudo {
    padding: 0px;
  }
  .bicicletas-container ul {
    gap: 16px;
    margin-bottom: 16px;
  }
  .bicicletas-container a {
    grid-column: 1/-1;
    font-size: 1rem;
    padding: 12px 24px;
  }
  .bicicletas-container h3 {
    margin-bottom: 10px;
  }
  .bicicletas-container p {
    font-size: 1rem;
  }
  .bicicletas-container img[src$=".svg"] {
    width: 24px;
  }
}
