#orcamento .titulo-bg {
  background-color: var(--cor-11);
}

#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0px);
}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
  padding-bottom: 120px;
}

.orcamento h2 {
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento h2 {
  position: relative;
}

.orcamento h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--cor-p1);
  position: absolute;
  left: -12px;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba (0, 0, 0, 0.1);
}

.orcamento-dados {
  grid-column: 2;
  border-radius: 0 5px 5px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: var(--cor-0);
}

.orcamento-dados label {
  display: block;
}

.orcamento-dados h2,
.orcamento-dados button,
.cpf {
  grid-column: 1/-1;
  width: 100%;
  box-sizing: border-box;
}

.orcamento-dados input {
  font: 400 1rem/1.5 "Roboto", sans-serif;
  background: var(--cor-1);
  border: 1px solid var(--cor-2);
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.orcamento-produto {
  border-radius: 5px 0 0 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: var(--cor-12);
  align-content: start;
}

.orcamento-produto > * {
  grid-column: 1/-1;
}

.orcamento-produto > label {
  grid-column: initial;
}

.orcamento-produto label {
  font: 400 1rem/1.5 "Poppins", sans-serif;
  color: var(--cor-4);
  background: var(--cor-10);
  padding: 12px 16px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
}

.orcamento-produto label:hover {
  background: var(--cor-9);
}

.orcamento-produto label::before {
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  border: 1px solid var(--cor-6);
  border-radius: 50%;
  margin-right: 8px;
  box-sizing: border-box;
}

.orcamento-produto input:checked + label::before {
  border-color: var(--cor-7);
  box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
}

.orcamento-produto label span {
  display: none;
}

.orcamento-produto input:checked + label span {
  display: inline-block;
}

.orcamento-produto input:checked + label {
  color: var(--cor-11);
  background: var(--cor-0);
}

.orcamento-produto input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#bikcraft:checked ~ #orcamento-bikcraft,
#seguro:checked ~ #orcamento-seguro {
  display: grid;
  gap: 20px;
}

.orcamento-conteudo {
  display: none;
}

.orcamento-conteudo img[src$=".svg"] {
  display: inline-block;
  width: 16px;
  margin-right: 8px;
}

.nimbus,
.nebula,
.magic {
  display: none;
}

#nimbus:checked ~ .nimbus,
#magic:checked ~ .magic,
#nebula:checked ~ .nebula {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: var(--cor-0);
  border-radius: 4px;
  background-image: none;
  padding: 20px;
  align-items: center;
}

.orcamento-conteudo li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

@media (max-width: 800px) {
  .orcamento {
    grid-template-columns: 1fr;
  }
  .orcamento-dados {
    grid-column: auto;
    gap: 20px;
    padding: 40px;
    border-radius: 0 0 5px 5px;
  }

  .orcamento-produto {
    border-radius: 5px 5px 0 0;
    gap: 20px;
    padding: 40px;
  }
  .orcamento-produto li {
    font-size: 1rem;
  }
  .orcamento-produto li:nth-child(4) {
    margin-bottom: 0;
  }
  .orcamento-conteudo img[src$=".svg"] {
    width: 24px;
  }
  #nimbus:checked ~ .nimbus,
  #magic:checked ~ .magic,
  #nebula:checked ~ .nebula {
    gap: 10px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .orcamento-dados {
    grid-template-columns: 1fr;
    grid-column: auto;
    gap: 20px;
    padding: 40px;
  }
  .orcamento-dados button {
    font-size: 1rem;
    padding: 12px 24px;
    justify-self: start;
  }

  .orcamento-produto {
    gap: 20px;
    padding: 40px;
  }
  .orcamento-produto li {
    font-size: 0.75rem;
  }
  .orcamento-produto li:nth-child(4) {
    margin-bottom: 0;
  }
  .orcamento-conteudo img[src$=".svg"] {
    width: 16px;
  }
  #nimbus:checked ~ .nimbus,
  #magic:checked ~ .magic,
  #nebula:checked ~ .nebula {
    gap: 10px;
    align-items: center;
  }
}
